<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="container">
      <h1>Edit Task</h1>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Save</button>
        <a href="{% url 'index'%}" class="btn cancel" style="text-decoration: none;">Cancel</a>
    </form>
    </div>
  </body>
</html>